<%= form_tag "file_upload", :class => "file_form form-inline", :multipart => true, :remote => true do %>

<%= hidden_field_tag 'document[user_id]', current_user.id %>
<%= hidden_field_tag 'document[user_type]', current_user.class %>
<%= hidden_field_tag 'document[room_id]', @room.id %>
<%= hidden_field_tag 'document[user_display_name]', current_user.name %>
<label><%= file_field_tag 'document[file]', :size => "40" %></label>

<li><a class="file_upload">Send file</a></li>

<% end %>
