<div id="users">
  <% @users.each do |user| %>
  <div class="user <%= user.client_id %>"><%= user.user_name %> in Room <%= user.room_id %></div>
  <% end %>
</div>

<script type="text/javascript">
  var faye_url = '<%= FAYE_URL %>';
  var user     = '<%= current_user.user_json.html_safe %>';

  function getUser() {
    var user_hash = JSON.parse(user)
    return user_hash
  };

  $(function() {    

    $.faye.addExtension({
      outgoing: function(message, callback) {
        if (message.channel === '/meta/subscribe') {
          message.data = message.data || getUser()
          console.log(message);
        }
        callback(message);
      }
    });

    $.faye.subscribe('/online_users', function (data) {
      console.log(data);
      messages = $("#users").find(".user");

      if (data.chat_message.message_type == "Subscribe") {
        $("#users").append('<div class="user ' + data.chat_message.client_id + '">' + data.chat_message.user_name + " in room " + data.chat_message.room_id + '</div>');
      }
      else if (data.chat_message.message_type == "Disconnect") {
        $("#users").find("." + data.chat_message.client_id).remove();
      }

    });

    $("#new_message").live("ajax:complete", function(event,xhr,status){
      $('#new_message')[0].reset();
    });
    
  });
</script>