<div id="users"></div>

<script type="text/html" id="user_template">
  <div class="{{metadata.client_id}}">{{user_name}} in Room {{metadata.location}} <span style="padding-left:20px"><a class="invite" data-id="{{user_id}}">Invite user!</a></span></div>
</script>

<% content_for :faye do %>
  <%= render "shared/faye_handler", :locals => { :room => @room } %>
  <%= render "rooms/user_handler" %>
<% end %>

<%= coffee_script_tag do %>
  jQuery ->
    location = 'Guest Users'
    userHandler = UserHandler.getUsers("<%= api_v1_users_url %>", GuestsIndexUserPresenter.renderUsers)
    user_hash = $.namespace.getUser(location)
    online_users = new FayeHandler(user_hash, '/online_users')
    online_users.joinRoomAndPulse(GuestsIndexUserPresenter.handleUser)

    #$('.invite').live("click", -> console.log($(this).data('id')))
    $('.invite').live("click", ->
      $.post(
        "<%= api_v1_alerts_url %>" + "?user_id=#{$(this).data('id')}"
        id: 2
        user_hash: user_hash
      ))
<% end %>