<div class="modal hide" id="logModal">
  <div class="modal-header">
    <h3>Thanks for thinchatting!</h3>
  </div>
  <div class="modal-body">
    <p>Would you like a transcript of today's chat?</p>
    </br>
    <%= form_tag logs_path :method => :post do %>
      <%= hidden_field_tag 'name', @room.name %>
      <%= label_tag 'Email' %>
      <%= text_field_tag "email", current_user.email %>
    </br>
      <%= submit_tag "Send me a Log", :class => "btn btn-primary", :id => "send_log" %>
      <%= link_to "No Thanks", closed_room_path(@room.name), params %>
    <% end %>
  </div>
</div>