<h1>Thanks for Thinchatting</h1>
</br>
</br>
<% if @email %>
  <p>Your Transcript was sent to <%= @email %>.
  <a class="resend_log" id="<%= @room.id %>">(Change or Resend)</a></p>
<% else %>
  <p>Are you sure you don't want a transcript?
  <a class="resend_log" id="<%= @room.id %>">Receive a transcript</a></p>
<% end %>
</br>
</br>

<%= render "rooms/log_form" %>

<%= coffee_script_tag do %>
  jQuery ->
    $('.resend_log').click ->
      $('#logModal').modal('show')
<% end %>
