<h1>Lobby</h1>
<%= link_to "Create a room", rooms_path, :method => :post %>

<div id="rooms"></div>
<div id="users"></div>

<script type="text/html" id="user_template">
  <div class="{{client_id}}">{{user_name}} in Room {{room_id}}</div>
</script>

<script type="text/html" id="room_template">
  <div class="{{id}}"><a href={{location}}>Room {{id}}</a></div>
</script>

<% content_for :faye do %>
  <%= render "shared/faye_handler" %>
  <%= render "room_handler" %>
  <%= render "rooms/user_handler" %>
<% end %>

<%= coffee_script_tag do %>
  jQuery ->
    location = 'Lobby'
    roomHandler = RoomHandler.getRooms()
    userHandler = UserHandler.getUsers()
    user_hash = $.namespace.getUser(location)
    faye_users = new FayeHandler(user_hash, '/online_users', UserHandler.handleUser)
<% end %>