<div id="room">
  <h1><%= @room.name %></h1>
  
  <%= content_tag "div", id: "messages", class: "info", data: {location: @room.id } do %>
  <% end %>

  <%= render "form", :locals => { :room => @room } %>
  <br />
  <%= render "messages/file" %>
  <br />
  <%= render "user_name", :locals =>  { :user => @user, :session => @session } %>
</div>
<div class="modal hide" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Welcome to thinChat!</h3>
  </div>
  <div class="modal-body">
    <p>We're glad to have you!</p>
    <p>If you like, enter your name and email address</p>
    <%= form_for @user, :id => "entry_modal", :html => { :class => "entry_modal"}, :remote => true, :validate => true do |f| %>
      <%= f.label :user_name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>
  </div>
  <div class="modal-footer">
      <%= f.submit "Enter Chat", :class => "btn btn-success", :data => { :dismiss => "modal" } %>
    <% end %>
  </div>
</div>

<script type="text/html" id="message_template">
  <div class="message">

  <div class="author">
    {{user_name}}:
  </div>


   {{message_body}}
  </div>
</script>

<script type="text/html" id="event_template">
  <div class="message">
    {{message_body}}
  </div>
</script>

<% content_for :faye do %>
  <%= render "shared/faye_handler" %>
  <%= render "chat_handler" %>
<% end %>

<%= coffee_script_tag do %>
  jQuery ->
    user_hash = $.namespace.getUser(location)
    location = $('#messages').data('location')
    ChatHandler.getMessages(location)

    if user_hash.user_type == 'Guest'
      $('#myModal').modal('show')

      $("#myModal .btn-success").click (e) =>
        e.preventDefault()
        $("#myModal").modal "hide"
        $(".entry_modal").submit()
        user_hash.user_name = $(".entry_modal").find('#guest_name').val()
        $('#user').data('user', user_hash)
        $.namespace.fayeLoader()

    uploadHandler()
    $(':file').change ->
      file = this.files[0]
      name = file.name
      size = file.size
      type = file.type

  uploadHandler = ->
    $('.file_upload').click ->
      form = $('.file_form')[0]
      data = new FormData form
      $.ajax({
        type: 'POST',
        url: 'http://localhost:3001/api/documents',
        data: data,
        cache: false,
        contentType: false,
        crossDomain: true,
        processData: false,
        success: (response) ->
          console.log response
          $('.file').attr({ value: '' })
        })

<% end %>