<div id="room">
  <div class="row">
    <div class="room_meta span3">
      <h1 class="well"><%= @room.name %></h1>
    </div>
  
    <%= content_tag "div", id: "messages", class: "span9 offset3", data: {location: @room.id } do %>
    <% end %>
  </div><!--end row -->

  <div class="row" id="chat_input">
    <div class="span9 offset3">
    <%= render "form", :locals => { :room => @room } %>
    <%= render "user_name", :locals =>  { :user => @user, :session => @session } %>
  </div>
  </div>



</div>

<script type="text/html" id="message_template">
  <div class="message">
    <div id="author" class="{{user_type}}">
      {{user_name}}:
    </div>

    <div id="chat">
      {{message_body}}
     </div>
  </div>
</script>

<script type="text/html" id="event_template">
  <div class="message" >
    {{message_body}}
  </div>
</script>

<% content_for :faye do %>
  <%= render "shared/faye_handler" %>
  <%= render "chat_handler" %>
<% end %>

<%= coffee_script_tag do %>
  jQuery ->
    location = $('#messages').data('location')
    ChatHandler.getMessages(location)
    user_hash = $.namespace.getUser(location)
    faye_chat = new FayeHandler(user_hash, '/messages/'+ location, ChatHandler.handleMessage)

    $("#new_message").live("ajax:complete", (event,xhr,status) ->
      $('#new_message')[0].reset())
<% end %>