<div id="room">


  <div class="row">
    <div class="span8">
    <%= content_tag "div", id: "messages", class: "info", data: {location: @room.id, channel: @room.channel } do %>
  <% end %>
    </div>

    <div class="span4" id="room_meta">
<a class="close_room" id="<%= @room.id %>">Close the room</a>
  <%= render "messages/file", :locals =>  { :user => @user} %>
  <%= render "rooms/log_form" %>
  <%= render "user_name", :locals =>  { :user => @user, :session => @session } %>
  <a class="close_room" id="<%= @room.id %>">Close the room</a>
</div>
  </div><!-- end row -->

  <div class="row" id="chat_input_row">
    <div class="span8" id="chat_input">
      <%= render "form", :locals => { :room => @room } %>
    </div>
  </div>
</div>

<script type="text/html" id="message_template">
  <div class="message">
    <div class="user_name">{{user_name}}</div>
    {{message_body}}
  </div>
</script>

<script type="text/html" id="document_template">
  <div class="message">
    {{user_name}}: <a href={{message_body}} target="_blank"><img class="download_image" src ={{metadata.icon}} height=50> {{metadata.filename}}</a>
  </div>
</script>

<script type="text/html" id="event_template">
  <div class="message event">
    {{message_body}}
  </div>
</script>

<% content_for :faye do %>
  <%= render "shared/faye_handler" %>
  <%= render "chat_handler" %>
<% end %>

<%= coffee_script_tag do %>
  jQuery ->
    location = $('#messages').data('location')
    channel = $('#messages').data('channel')
    ChatHandler.showModalHandler()
    ChatHandler.getMessages(location)
    user_hash = $.namespace.getUser(location)
    room = new FayeHandler(user_hash, channel, ChatHandler.handleMessage)
    room.joinRoomAndPulse(ChatHandler.handleMessage)

    $(".new_message").live("ajax:complete", (event,xhr,status) ->
      $(this)[0].reset())

    $(document).ready ->
      $("a.fancybox").fancybox()

    $("#message_body").keypress (e) ->
      if (e.which == 13 && e.shiftKey == false)
        $("#new_message").submit()

    uploadHandler()
    $(':file').change ->
      file = this.files[0]
      name = file.name
      size = file.size
      type = file.type

  uploadHandler = () ->
    $('.file_upload').click ->
      form = $('.file_form')[0]
      data = new FormData form
      $.ajax({
        type: 'POST',
        url: '<%= root_url %>file/api/v1/documents.json',
        data: data,
        cache: false,
        contentType: false,
        crossDomain: true,
        processData: false,
        success: (response) ->
          console.log response
          
        })
      $('.file').attr({ value: '' })

<% end %>
