
<div id="room">
  <div class="row-fluid">
    <div class="span8 offset4">
      <%= content_tag "div", id: "messages", class: "info", data: {room_name: @room.name, channel: @room.channel } do %>
      <% end %>
    </div>
    
    <div class="span4" id="room_meta">
      <div id="drop_zone" class="well">
        <h1>Drag your file here!</h1>
      </div>
      <% if current_user.agent? %>
        <%= render "agent_meta" %>
      <% else %>
        <%= render "guest_meta" %>
        <%= render "user_name_modal" %>
      <% end %>
    </div>
  </div><!-- end row -->

  <div class="row-fluid" id="chat_input_row">
    <div class="span8" id="chat_input">
      <%= render "form", :locals => { :room => @room } %>
    </div>
  </div>
</div>

<!-- MUSTACHE TEMPLATES -->
<%= render "rooms/mustache_templates/show" %>

<%= coffee_script_tag do %>
  jQuery ->
    user_hash = $.namespace.getUser(location)
    if user_hash.user_type == "Guest"
      $('#userModal').modal('show')
      window.onbeforeunload = -> "Are you sure you want to navigate away from this chat?"

    location = $(".info").data("location")
    channel = $('#messages').data('channel')
    ChatInitializer.initialize()
    ChatHandler.getMessages("<%= api_v1_messages_url(room_name: @room.name) %>", ChatHandler.renderMessages)
    ChatInitializer.showModalHandler("<%= api_v1_messages_url() %>", user_hash)

    room = new FayeHandler(faye_client, user_hash, channel)
    fayePartialHandler = (msg) -> ChatHandler.handleFayeMessage(user_hash, msg)
    if user_hash.user_type == "Guest"
      room.joinRoomAndPulse(fayePartialHandler)
    else
      room.joinRoom(fayePartialHandler)

    $("#user_info_update").click ->
      $('#userModal').modal('hide')
    
    agentPoller = new RoomsShowUsersPoller("<%= api_v1_agents_url %>?rooms=true")

    $(':file').change ->
      file = this.files[0]
      name = file.name
      size = file.size
      type = file.type

    UploadHandler.initialize("<%= root_url %>")

    # online_agents = new FayeHandler(faye_client, user_hash, '/online/agent')
    # callbackFunction = (msg) -> RoomsShowUserPresenter.handleUser(msg, agentPoller.refreshList)
    # online_agents.joinRoom(callbackFunction)

    $(".invite").live("click", ->
      $.post(
        "<%= api_v1_alerts_url %>" + "?user_id=#{$(this).data('id')}"
        user_hash: user_hash
      ))

    dropzone = $("#drop_zone")
    $('body').on "dragover", ->
      dropzone.show()
      dropzone.addClass "overlay"
      false

    $('body').on "drop", (e)->
      e.originalEvent.stopPropagation()
      e.originalEvent.preventDefault()
      dropzone.hide()
      dropzone.addClass "overlay"
      false

    dropzone.on "dragover", ->
      dropzone.addClass "overlay-drop"
      dropzone.html "<h1>Now drop that file!</h1>"
      false

    dropzone.on "dragleave", ->
      dropzone.removeClass "overlay-drop"
      dropzone.addClass "overlay"
      dropzone.html "<h1>Drag your file here!</h1>"
      false

    dropzone.on "drop", (e) ->
      e.stopPropagation()
      e.preventDefault()
      dropzone.removeClass "overlay-drop"
      dropzone.hide()
      files = e.originalEvent.dataTransfer.files
      DragDropHandler.uploadDraggedFile("<%= root_url %>", files[0], files.length)
      false

<% end %>
