<div id="room">
  <div class="row">
    <div class="span8">
      <%= content_tag "div", id: "messages", class: "info", data: {room_name: @room.name, channel: @room.channel } do %>
      <% end %>
    </div>

    <div class="span4" id="room_meta">
      <div id="online_agents"></div>
      <a class="close_room" id="<%= @room.id %>">Close the room</a>
      <%= render "messages/file", :locals =>  { :user => @user} %>
      <%= render "rooms/log_form" %>
      <%= render "user_name", :locals =>  { :user => @user, :session => @session } %>
      <a class="close_room" data-room-name="<%= @room.name %>">Close the room</a>
    </div>
  </div><!-- end row -->

  <div class="row" id="chat_input_row">
    <div class="span8" id="chat_input">
      <%= render "form", :locals => { :room => @room } %>
    </div>
  </div>
</div>

<script type="text/html" id="message_template">
  <div class="message">
    <div class="user_name">{{user_name}}</div><div class="chat_date">{{pretty_time}}</div>
    <div class="message_body">{{message_body}}</div>
  </div>
</script>

<script type="text/html" id="document_template">
  <div class="message">
    {{user_name}}: <a href={{message_body}} target="_blank"><img class="download_image" src ={{metadata.icon}} height=50> {{metadata.filename}}</a>
  </div>
</script>

<script type="text/html" id="event_template">
  <div class="message event">
    {{message_body}}
  </div>
</script>

<script type="text/html" id="user_template">
  <div class="user user-{{user_id}}" data-client-ids="[]">{{user_name}}<span style="padding-left:20px"><a class="invite" data-id="{{user_id}}">Invite user!</a></span></div>
</script>

<script type="text/html" id="agent_close_template">
  <div class="message event">
  <div class="user_name">{{user_name}}</div>
    Is your issue resolved?  If so, <a class="close_room" data-room-name="<%= @room.name %>">click here to close the room</a>
  </div>
</script>

<%= coffee_script_tag do %>
  jQuery ->
    location = $('#messages').data('room-name')
    channel = $('#messages').data('channel')
    ChatHandler.showModalHandler()
    ChatHandler.getMessages("<%= api_v1_messages_url(room_name: @room.name) %>", ChatHandler.renderMessages)
    user_hash = $.namespace.getUser(location)

    room = new FayeHandler("<%= FAYE_URL %>", user_hash, channel)
    if user_hash.user_type == "Guest"
      room.joinRoomAndPulse(ChatHandler.handleMessage)
    else
      room.joinRoom(ChatHandler.handleMessage)

    UserHandler.getUsers("<%= api_v1_agents_url %>", RoomsShowUserPresenter.renderUsers)
    user_hash = $.namespace.getUser(null)
    online_agents = new FayeHandler("<%= FAYE_URL %>", user_hash, '/online/agent')
    online_agents.joinRoom(RoomsShowUserPresenter.handleUser)

    $(".invite").live("click", ->
      $.post(
        "<%= api_v1_alerts_url %>" + "?user_id=#{$(this).data('id')}"
        user_hash: user_hash
      ))

    $(".new_message").live("ajax:complete", (event,xhr,status) ->
      $('html, body').animate({scrollTop:$(document).height()}, 'slow');
      $(this)[0].reset())

    $("a.fancybox").fancybox()
    
    $("#message_body").keypress (e) ->
      if (e.which == 13 && e.shiftKey == false)
        $("#new_message").submit()

    uploadHandler()
    $(':file').change ->
      file = this.files[0]
      name = file.name
      size = file.size
      type = file.type

  uploadHandler = () ->
    $('.file_upload').click ->
      form = $('.file_form')[0]
      data = new FormData form
      $.ajax({
        type: 'POST',
        url: '<%= root_url %>file/api/v1/documents.json',
        data: data,
        cache: false,
        contentType: false,
        crossDomain: true,
        processData: false,
        success: (response) ->
          console.log response   
        })
      $('.file').attr({ value: '' })

<% end %>
