<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "ThinCore" %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application", "#{FAYE_URL}/faye.js" %>
    <script type="text/javascript" src="https://use.typekit.com/txe0iyw.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <%= csrf_meta_tags %>
    <%= yield :faye %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <div class="content">
        <div id="flash"></div>
        <%= render "shared/alert_template" %>
        <%= render "shared/private_message_handler" %>

        <%= coffee_script_tag do %>
          jQuery ->
            user_hash = $.namespace.getUser(location)
            if user_hash.user_type == "Agent"
              agent_channel = new FayeHandler("<%= FAYE_URL %>", user_hash, user_hash.private_channel)
              agent_channel.joinRoom(PrivateMessageHandler.handleMessage)
        <% end %>

        <%= yield %>
      </div><!--/content-->
      <!--<%= render "layouts/footer" %>-->
    </div> <!-- /container -->
  </body>
</html>
